@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    background-image: url('./assets/allweather.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    font-size: 1.2rem;
}